LLM_API_URL="" # Например, "https://generativelanguage.googleapis.com/v1beta/openai/" для моделей Gemini

LLM_API_KEY_1=""
# LLM_API_KEY_2=""
# LLM_API_KEY_3=""
# ...можно добавить сколько угодно разных

# [OPTIONAL] Классический бот на Aiogram
AIOGRAM_BOT_TOKEN=""

# [OPTIONAL] Юзер-бот на Telethon
TELETHON_API_ID=""
TELETHON_API_HASH=""

# [OPTIONAL] Reddit интерфейс
# Понадобится создать "приложение" (тип script) в настройках реддита
REDDIT_CLIENT_ID=""
REDDIT_CLIENT_SECRET=""
# Опционально: имя и пароль аккаунта агента (если reddit.agent_account: true)
REDDIT_USERNAME="" # Опционально: имя аккаунта агента
REDDIT_PASSWORD="" # Опционально: пароль аккаунта агента