LLM_API_URL="" # Например, "https://generativelanguage.googleapis.com/v1beta/openai/" для моделей Gemini

LLM_API_KEY_1=""
# LLM_API_KEY_2=""
# LLM_API_KEY_3=""
# ...можно добавить сколько угодно разных

# [OPTIONAL] Классический бот на Aiogram
AIOGRAM_BOT_TOKEN=""

# [OPTIONAL] Юзер-бот на Telethon
TELETHON_API_ID=""
TELETHON_API_HASH=""